<div class="container-fluid">
    <div class="row">
        <div class=" mt-2 col-md-12 d-flex justify-content-center">
            <div class="mt-5 p-5"  style="background-color:#EFF1F5; border-radius: 20px;">

                <div>
                    <img src="assets\secure.svg"  style="height: 250px;"  alt="sorry">
                </div>
                <div>
                    <h1>OTP Verification</h1>
                    <h3>One Time Password is sent to your registered mobile number</h3>
                </div>
                <div class="col-md-9 d-flex flex-column justify-content-center">
                    <input type="text" class="form-control">
                    <h3>Didn,t receive Otp <a href="">Resend OTP ?</a></h3>
                </div>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary" style="width: 150px;">VERIFY</button>
                </div>
            </div>
        </div>
    </div>
</div>