
body{
  font-family: Arial, sans-serif;
            background-color: #EFF1F5;
            text-align: center;
            padding: 20px;

}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
  }
  
  .product {
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
  }
  
  .product-image {
    max-width: 100%;
  }
  
  .product-details {
    text-align: left;
  }
  
  .product-price {
    font-weight: bold;
    color: #e81a24;
  }
  .back-btn button{

    background-color: #FD8801;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  .back-btn button:hover {
    background-color: #f79d37;
}
img{
  padding: 5px;
  width: 50%;
aspect-ratio: 3/2;
object-fit: contain;
mix-blend-mode: darken;
}