.container {
height: auto;
}

.single-order
{
   background-color: antiquewhite;
    margin: 12px 12px;
    padding: 15px 44px;
  
     border: 1px solid #ddd;
    background-color: #eff1f5;
    border-radius: 30px;
    
}

.Order-History{
        width: 100%;
        border: 1px solid #ccc;
    background-color: #f1f3f8;
    height: auto;
   
    align-items: center;
}


button{
 background-color: #FD8801;
    color: white;
    border: none;
    padding: 5px 16px;
    border-radius: 16px;
    cursor: pointer;
    margin: 19px 0px 20px 0px;
}
  button:hover {
    background-color: #f19832;
  }
  .image-outerdiv{
    display: flex;
  }
  
.cont {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}




.cont p {
  color: #666;
}


.cont button {
  background-color: #FD8801;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.cont button:hover {
  background-color: #f08306;
}

img{
  padding: 5px;
  width: 20%;
aspect-ratio: 3/2;
object-fit: contain;
mix-blend-mode: darken;
overflow: scroll;
}