<!-- <div class="cartitem" *ngIf="showcartitem">
    <table class="table" border="1">
        <thead>
            <tr>
                <td>sr no. </td>
                <td>Product</td>
                <td>Price</td>
                <td>Category</td>
                <td>Quantity</td>
                <td>TotalPrice</td>
                <td>delete</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cartItems.responseData; let i = index;">
                <td>{{i+1}}</td>
                <td>{{item.product.name}}</td>
                <td>{{item.product.price}}</td>
                <td>{{item.product.category}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.totalPrice}}</td>
                <td><button (click)=deleteItemFromCart(item.id)>delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
-->
<div class="container12" *ngIf="showerrmsg">
    <h1>Cart is Empty</h1>
    <button (click)="toHome()">Shop Now</button>
</div>
<div *ngIf="showcartitem">

<div class="container">
    
    <div class="row mt-4 d-flex justify-content-center" *ngFor="let item of cartItems.responseData">
        <div class="col-md-3 py-4" style="  border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;   background-color:#EFF1F5; ">
            <div>
                <img [src]="item.product.imageurl" alt="Image not added in database" class="product-image">
            </div>
        </div>
        <div class="col-md-3 d-flex align-items-center" style="background-color:#EFF1F5; border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;">

            <div class="col-md-12">
                <div style="float: right; margin-top: 3px;">
                    <span style="border: 1px solid black;" (click)=deleteItemFromCart(item.id)
                        class="material-symbols-outlined">
                        close
                    </span>
                </div>
                <div> <h5>{{item.product.name}}</h5></div>

                <div><p>nos : {{item.quantity}}</p></div>
                <div class="d-flex justify-content-between">
                    <div> <button class="up-btn" (click)="updateQuantity(item.product.id,item.id)">Change Quantity</button></div>
                    <div >  <h6 style="color: #FD8801;"> ₹ {{item.quantity*item.product.price}}</h6></div>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="d-flex justify-content-end py-4 px-2">

    <div class="px-5"  *ngIf="showfinalTotalPrice">
        <h6 class="final-price">Total price is : ₹ {{finaltotalPrice}} </h6>
    </div>
    <div  class="px-5"  *ngIf="showprocessbtn">
        <button class="process-btn" (click)="processOrder()">Process Order</button>
    </div>
    
</div>
</div>
<!-- 



<div class="product-list">
    <div class="product" *ngFor="let item of cartItems.responseData">
        <div>
            <img [src]="item.product.imageurl" alt="Image not added in database" class="product-image">
            <div class="product-details">
                <h3>{{item.product.name}}</h3>
                <p>{{item.product.category}}</p>
                <span class="product-price">rs {{item.product.price}}</span>
                <td><button (click)=deleteItemFromCart(item.id)>Remove From Cart</button></td>
            </div>
            <div>
                <p>Quantity is :{{item.quantity}}
                </p>
                <div>
                    <button (click)="updateQuantity(item.product.id,item.id)">Update Quantity</button>
                </div>
                <div class="total-price">
                    <p>Total Price is :{{item.quantity*item.product.price}}</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h1> </h1>
        <h6></h6>
    </div>
</div> -->

