<!-- <div class="cartitem" *ngIf="showcartitem">
    <table class="table" border="1">
        <thead>
            <tr>
                <td>sr no. </td>
                <td>Product</td>
                <td>Price</td>
                <td>Category</td>
                <td>Quantity</td>
                <td>TotalPrice</td>
                <td>delete</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cartItems.responseData; let i = index;">
                <td>{{i+1}}</td>
                <td>{{item.product.name}}</td>
                <td>{{item.product.price}}</td>
                <td>{{item.product.category}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.totalPrice}}</td>
                <td><button (click)=deleteItemFromCart(item.id)>delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
-->
<div class="container" *ngIf="showerrmsg">
    <h1>Cart is Empty</h1>
    <button (click)="toHome()">Shop Now</button>

</div>



<div class="container">
    <div class="row d-flex justify-content-center">
        <div class=" col-md-3 product m-2  mb-4 " *ngFor="let product of cartItems.responseData" style="background-color: #fefaf5;">
                  <div class="product-image m-2 d-flex justify-content-center">
                    <img [src]="product.product.imageurl" alt="Image not added in database" class="product-image">
                </div>
               


                <div class="row  d-flex justify-content-around">

                    <div class="col-md-3 p-2">
                        <button (click)=deleteItemFromCart(product.id)>Remove From Cart</button>
                    </div>
                    <div class="col-md-3 p-2">
                        <button (click)="updateQuantity(product.product.id,product.id)">Update Quantity</button>
                    </div>    
                </div>

            
        </div>
    </div>
    <div class="row d-flex justify-content-end">

        <div class="col-md-2 p-2 ">
            <div class="px-2 py-2 d-flex justify-content-center" *ngIf="showfinalTotalPrice">
                <h6>Total price is : ₹ {{finaltotalPrice}} </h6>
            </div>
        </div>
        <div class="col-md-2 d-flex justify-content-center  p-2 ">
            <div class="p-2 " *ngIf="showprocessbtn">
                <button (click)="processOrder()">Process Order</button>
            </div>
        </div>
    </div>
</div>




<div class="product-list">
    <div class="product" *ngFor="let item of cartItems.responseData">
        <div>
            <img [src]="item.product.imageurl" alt="Image not added in database" class="product-image">
            <div class="product-details">
                <h3>{{item.product.name}}</h3>
                <p>{{item.product.category}}</p>
                <span class="product-price">rs {{item.product.price}}</span>
                <td><button (click)=deleteItemFromCart(item.id)>Remove From Cart</button></td>
            </div>
            <div>
                <p>Quantity is :{{item.quantity}}
                </p>
                <div>
                    <button (click)="updateQuantity(item.product.id,item.id)">Update Quantity</button>
                </div>
                <div class="total-price">
                    <p>Total Price is :{{item.quantity*item.product.price}}</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h1> </h1>
        <h6></h6>
    </div>
</div>


<div *ngIf="showfinalTotalPrice">
    <h6 class="final-price">Total price is : ₹ {{finaltotalPrice}} </h6>
</div>
<div *ngIf="showprocessbtn">
    <button class="process-btn" (click)="processOrder()">Process Order</button>
</div>