h3{
    margin: 0px;
    padding: 0px;
}

.card
{
    border: 4px solid #fff;
    border-radius: 10px;
    background-color: #f7f7fa87;
    
}
.card-heading{
    color: #747474
}
.rs{
    font-weight:500;
}   
.row-2-card
{
    border-right:solid #fff  2px;

}
img{

    width: 70%;
  aspect-ratio: 3/2;
  object-fit: contain;
  mix-blend-mode: darken;
  overflow: scroll;
  } 
  .title
  {
    font-weight:500;
     font-size: 20px;
  }
  .card-top-sale
{
   border-bottom: 1px solid #fff;
    
}