h3{
    margin: 0px;
    padding: 0px;
}

.card
{
    border: 4px solid #fff;
    border-radius: 10px;
    background-color: #f7f7fa87;
    
}
.card-heading{
    color: #747474
}
.rs{
    font-weight:500;
}   
.row-2-card
{
    border-right:solid #fff  2px;

}