
<div class="container-fluid">
    <div class="row mb-2 mt-2 ">
        <div class="card col-md-3 m-1">
            <div class=" row pl-3 pt-3 pr-3">
                <div class="col-md-6">
                    <h3 class="card-heading">Revenue</h3>
                    <h1 class="rs"> Rs : 12456 </h1>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <span class="material-symbols-outlined">
                        monetization_on
                    </span>
                </div>
            </div>
            <div class="row  px-2 ">

                <div class="col-md-6">
                    <h3 class="card-heading">+2.56%</h3>
                </div>
                <div class="col-md-6">
                    <h3 class="card-heading"> Last month</h3>

                </div>
            </div>
        </div>
        <div class=" card col-md-3 m-1">
            <div class=" row pl-3 pt-3 pr-3">
                <div class="col-md-6">

                    <h3 class="card-heading">Total Orders</h3>
                    <h1 class="rs"> 20 </h1>

                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <span class="material-symbols-outlined">
                        shopping_cart
                    </span>
                </div>
            </div>
            <div class="row px-2">
                <div class="col-md-6">
                    <h3 class="card-heading">+2.56%</h3>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <h3 class="card-heading"> Last seven days</h3>

                </div>
            </div>
        </div>
        <div class=" card col-md-5 m-1">
            <div class=" row pl-3 pt-3 pr-3">
                <div class="col-md-6">
                    <h3 class="card-heading ">Total visitors</h3>
                    <h1 class="rs"> 385223 </h1>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <span class="material-symbols-outlined">
                        group
                    </span>
                </div>
            </div>
            <div class="row px-2">
                <div class="col-md-6">
                    <h3 class="card-heading">+2.56%</h3>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <h3 class="card-heading"> Last Week</h3>


                </div>
            </div>
        </div>
    </div>







    <div class="card mb-2 p-3">
        <div class="row">
            <div class="col-md-2">

                <h3 class="" style="font-weight:500; font-size: 20px;"> Sale Analytics
                </h3>
            </div>
            <div class="col-md-10 d-flex justify-content-end">
                Sort By
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Income
            </div>
            <div class="col-md-4">
                Expense
            </div>
            <div class="col-md-4">
                Balance
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                chart
            </div>
        </div>
    </div>
















    <div class="row mb-2">
        <div class="col-md-5">
            Top Orders
        </div>
        <div class="col-md-7">
            Recent Orders
        </div>
    </div>
</div>