<div class="nav-bar pt-5">
    <header>
        <div class="logo pb-4 px-3">
            <img src="../../../../../assets/ardriver-logo4.svg" alt="">
        </div>
        <nav>
            <ul>
                <li routerLinkActive="active">

                    <div class="row d-flex align-items-center">

                        <div class="col-md-4">
                            <span class="material-symbols-rounded" style="font-size: 30px;">
                                home
                            </span>
                        </div>
                        <div class="col-md-3 d-flex justify-content-start">
                            <a class="py-2" routerLink="/admin-home" routerLinkActive="active">
                                <h3 class="options"> Dashboard</h3>
                            </a>
                        </div>
                    </div>
                </li>
                <li routerLinkActive="active">

                    <div class="row d-flex align-items-center">

                        <div class="col-md-4">
                            <span class="material-symbols-rounded" style="font-size: 30px;">
                                package_2
                                </span>
                        </div>
                        <div class="col-md-3 d-flex justify-content-start">
                            <a class="py-2" routerLink="/admin-home/viewproduct" routerLinkActive="active">
                                <h3 class="options"> Product</h3>
                            </a>
                        </div>
                    </div>
                </li>

                <li routerLinkActive="active">

                    <div class="row d-flex align-items-center">

                        <div class="col-md-4">
                            <span class="material-symbols-rounded" style="font-size: 30px;">
                                group
                            </span>
                        </div>
                        <div class="col-md-3 d-flex justify-content-start">
                            <a class="py-2" routerLink="/admin-home/viewcustomer" routerLinkActive="active">
                                <h3 class="options"> Customer</h3>
                            </a>
                        </div>
                    
                    </div>
                    
                </li>
                <li routerLinkActive="active">

                    <div class="row d-flex align-items-center">

                        <div class="col-md-4">
                            <span class="material-symbols-rounded" style="font-size: 30px;">
                                orders
                            </span>
                        </div>
                        <div class="col-md-3 d-flex justify-content-start">
                            <a class="py-2" routerLink="/dashboard" routerLinkActive="active">
                                <h3 class="options"> Order</h3>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
</div>