/* .main-login{


    padding-top: 200px;
    display: flex;
    justify-content: center;
    display: table-caption;
    padding-left: 500px;
} */
.main-login {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin-top: 247px;
}

.main-login div {
    margin: 10px 0;
}

label {
    display: block;
    font-weight: bold;
    justify-content: center;
    display: flex;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {  
    background-color: #FD8801; /* Change the color when the button is hovered */
}

h6 {
    color: #7e3d3d; /* Error message color */
    text-align: center;
    margin-top: 10px;
}