.footer{
margin-top: 20%;
    background-color: #333; /* Background color */
    color: #fff; /* Text color */
    text-align: center; /* Center-align text */
    padding: 20px; /* Add padding for spacing */
}