
<div class="container-fluid pt-3" style="background-color: #EFF1F5;">
    <div class="row menus d-flex justify-content-center ps-5 mb-5">
    
  
      <div class="col-md-2 m-1 pb-4 d-flex align-items-center flex-column"  *ngFor="let category of categoryList">
        <div class="menu-icon p-3 px-4 mb-2" style="background-color: #d3e2ff;border-radius: 5px; cursor: pointer;" (click)="productsByCategory(category.category_id)" >
          <span class="material-symbols-outlined" style="color: #2465e7;">
          grocery
          </span>
        </div>
        <div class="menu-text" (click)="productsByCategory(category.category_id)" style="cursor: pointer;">
          <h6>{{category.category}}</h6>
        </div>  
      </div>  

    </div>
  </div>

    
    <app-products [categoryId]="categoryId"></app-products>