<router-outlet></router-outlet>
   <div class="container-fluid pt-3" style="background-color: #EFF1F5;">
    <div class="row menus d-flex justify-content-center ps-5 mb-5">
      
    
      
      <div class="col-md-2 m-1 pb-4 d-flex align-items-center flex-column"  *ngFor="let category of categoryList">
        <div class="menu-icon p-3 px-4 mb-2" style="background-color: #d3e2ff;border-radius: 5px; cursor: pointer;" (click)="toSpecificCategory(category.category_id)" >
          <span class="material-symbols-outlined" style="color: #2465e7;">
          {{category.googleMaterialIcon}}
          </span>
        </div>
        <div class="menu-text" (click)="toSpecificCategory(category.category_id)" style="cursor: pointer;">
          <h6 style="font-size: larger; font-weight: 400;">{{category.category}}</h6>
        </div>  
      </div>  


<!-- 
   
      
      <div class="col-md-2 m-1 pb-4 d-flex align-items-center flex-column" >
        <div class="menu-icon p-3 px-4 mb-2" style="background-color: #CAF6E9;border-radius: 5px; cursor: pointer;" (click)="productsByCategory(3)" >
          <span class="material-symbols-outlined" style="color: #019063;">  sports_soccer </span>
          </div>
        <div class="menu-text" (click)="productsByCategory(3)" style="cursor: pointer;">
          <h6>Sports</h6>
        </div>
      </div>    
      
  
      <div class="col-md-2 m-1 pb-4 d-flex align-items-center flex-column"   >
        <div class="menu-icon p-3 px-4 mb-2" style="background-color: #F2C45D;border-radius: 5px; cursor: pointer;" (click)="productsByCategory(5)" >
          <span class="material-symbols-outlined" style="color: #85802B;">  kitchen </span>
          </div>
        <div class="menu-text" (click)="productsByCategory(5)" style="cursor: pointer;">
          <h6>Home Applience</h6>
        </div>
      </div>  
  
  
  
  
  
      <div class="col-md-2 m-1 pb-4 d-flex align-items-center flex-column" >
        <div class="menu-icon p-3 px-4 mb-2" style="background-color: #DAEEF7;border-radius: 5px; cursor: pointer;" (click)="productsByCategory(2) ">
          <span class="material-symbols-outlined" style="color: #668997;">  laptop_mac </span>
          </div>
        <div class="menu-text" (click)="productsByCategory(2)" style="cursor: pointer;">
          <h6>Electronics</h6>
        </div>
      </div>  
  
      <div class="col-md-2 m-1 pb-4 d-flex align-items-center flex-column" >
        <div class="menu-icon p-3 px-4 mb-2" style="background-color: #FCE7EC;border-radius: 5px; cursor: pointer;" (click)="productsByCategory(4)" >
          <span class="material-symbols-outlined" style="color: #F55D78;">  apparel </span>
          </div>
        <div class="menu-text" (click)="productsByCategory(4)" style="cursor: pointer;">
          <h6>Clothes</h6>
        </div>
      </div>   -->
  


       </div>
  </div>
  

<app-products></app-products>

