img{
    padding: 5px;
    width: 50%;
  aspect-ratio: 3/2;
  object-fit: contain;
  mix-blend-mode: darken
}
.item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
}

.scroll-container {
  height: 300px; /* Set a fixed height for the scroll container */
  overflow-y: scroll;
}