<div class="row">
    <div class="col-md-12 m-3">
        <button style="border-radius: 100px;cursor: pointer;" (click)="backToManageProduct()"> <span
                (click)="backToManageProduct()" style="padding: 3px;" class="material-symbols-outlined">
                arrow_back
            </span></button>
    </div>
</div>
<div class="container">
    <div class="row d-flex justify-content-end">
        <div class="col-md-3 ">
            <div class="search-container d-flex p-2">
                <div>
                    <input class="form-control" type="text" [(ngModel)]="searchTerm"  placeholder="Search...">
                </div>
                <div class="px-2">
                    <button class="btn btn-primary" (click)="onSearchChange()" type="submit">Search</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" Style=" height: 700px;
        overflow: auto;">
            <div class="allProductdata">
                <table class="table">
                    <thead>
                        <tr>
                            <td class=" align-items-centre">
                                Name
                                <span class="material-symbols-outlined" (click)="ascOrder('name')">
                                    keyboard_arrow_up
                                </span>
                                <span class="material-symbols-outlined" (click)="descOrder('name')">
                                    arrow_drop_down
                                </span>
                            </td>
                            <td>Price
                                <span class="material-symbols-outlined" (click)="ascOrder('price')">
                                    arrow_drop_up
                                </span>
                                <span class="material-symbols-outlined" (click)="descOrder('price')">
                                    arrow_drop_down
                                </span>
                            </td>
                            <td>Category
                                <span class="material-symbols-outlined" (click)="ascOrder('category')">
                                    arrow_drop_up
                                </span>
                                <span class="material-symbols-outlined" (click)="descOrder('category')">
                                    arrow_drop_down
                                </span>
                            </td>
                            <td>Enter the Quantity to update</td>
                            <td> Update Product</td>
                            <td> Delete </td>
                            <td> Image </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of productList">
                            <td>{{item.name}}</td>
                            <td>{{item.price}}</td>
                            <td>{{item.categoryInProduct.category}}</td>
                            <td>{{item.stockQuantity}}</td>
                            <td><button class="update-btn btn btn-warning" (click)="updateProduct(item)">Update</button></td>
                            <td><button class="delete-btn btn btn-danger" (click)="deleteProduct(item)">Delete</button>
                            </td>
                            <td>
                                <div class="imagediv">
                                    <img [src]="item.imageurl" alt=" Some problem ia there ">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-end">
            <div class="dropdown">
                <h6>Select the page Size </h6>
                <select name="pageSize" id="pageSizeOptions" [(ngModel)]="selectedPageSize"
                    (change)="onPageSizeBtnClick($event)">
                    <option *ngFor="let num of numberArray(totalElements)" value="{{ num }}">
                        {{ num }}
                    </option>
                </select>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12 d-flex justify-content-end">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only" (click)="previousPage()">Previous</span>
                        </a>
                    </li>
                    <input type="text" style="width: 50px;" class="form-control" value={{currentPageNumber}}
                        [(ngModel)]="currentPageNumber" (change)="setManualPageNumber($event)">

                    <li class="page-item">
                        <a class="page-link" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only" (click)="nextPage()">Next</span>
                        </a>
                    </li>


                    <li class="page-item">
                        <a class="page-link" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only" (click)="LastPage()">Last</span>
                        </a>

                        <!-- <span class="sr-only" (click)="LastPage()">Last</span> -->
                    </li>

                    
                </ul>
            </nav>
        </div>
    </div>
    <button class="btn btn-primary" (click)="test()">Click me </button>
</div>
           