<!-- <div class="searchbar">
  <button class="back-btn" (click)="toHome()">back</button>
  <li> <input type="text" placeholder="Search..." [(ngModel)]="data">&nbsp;
    <button class="search-btn" (click)="searchDataByEvent()">Search</button>

</div> -->


<div class="container-fluid py-4">
  <div class="row">
   <div class="col-md-1 back-btn">
    <!-- <button class="back-btn" (click)="toHome()">back</button> -->
    <span  (click)="toHome()"class="material-symbols-outlined">
      arrow_back
      </span>
   </div>

   <div class="col-md-11 d-flex justify-content-center">
    <div class="col-md-5  px-3">
      <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="data">&nbsp;
    </div>
      <button class="search-btn" (click)="searchDataByEvent()">Search</button>
   </div>

  </div>
</div>

<!-- <div class="container-fluid">
  <div class="row">


  <div class=" filter">

    <h6>Select Price Range </h6>
    <div class="slidecontainer">
      <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
    </div>
    <div class="min-max" >

    <input type="text" name="min" [(ngModel)]="min" id="">
    <input type="text" name="max" [(ngModel)]="max" id="">
     <button (click)="applyFilter()"> Apply Filter</button>
  </div>

  <div class="serachresult">
    <div class="product-list">
      <div class="product" *ngFor="let product of result">
        <div (click)="productDetails(product.id)">
          <img [src]="product.imageurl" alt="{{product.name}}" class="product-image">
          <div class="product-details">
            <h3>{{product.name}}</h3>
            <p>{{product.category}}</p>
            <span class="product-price">rs {{product.price}}</span>
          </div>
        </div>
      </div>

    </div>
  </div>
  </div> -->
  
<div class="mx-5">
<div class="row">
   
<div class="col-md-2">
  <h6>Select Price Range </h6>
  <div class="slidecontainer">
    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
    <input type="text" name="min" [(ngModel)]="min" id="">
    <input type="text" name="max" [(ngModel)]="max" id="">
     <button (click)="applyFilter()"> Apply Filter</button>
  </div>
</div>
<div class="col-md-10">
<div class="row">
<div class="col-md-2 product-p m-2" *ngFor="let product of result">
  <div (click)="productDetails(product.id)">
    <img [src]="product.imageurl" alt="{{product.name}}" class="product-image">
    <div class="product-details">
      <h3>{{product.name}}</h3>
      <p>{{product.category}}</p>
      <span class="product-price">rs {{product.price}}</span>
    </div>
  </div>

  </div>
</div>
</div>
</div>
</div>  
